<div>
    <h2>we are minimal</h2>
    <ul class="listOfSignatures">
        {{#details}}
           <li>{{> signersDetails }}</li>
        {{/details}}
    </ul>
</div>

<div>
      <a href="/signed">back to your signature</a>
  </div>