<div>
    <h1>we are minimal</h1>
    <ul class="listOfSignatures">
        {{#details}}
           <li>{{> signersDetails }}</li>
        {{/details}}
    </ul>
</div>

<div>
      <a class="myLinks" href="/signed">back to your signature</a>
  </div>