
<h1>The Petition</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>

{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}


<form action="/register" method="POST">

  <div class="inputName" >
    <input type="text" name="firstname" required id="firstname" placeholder="First Name" />
  </div>

  <div class="inputName" >
    <input type="text" name="lastname" required id="lastname" placeholder="Last Name" />
  </div>

  <div>
    <canvas id="canvas"></canvas>
    <input class="canvasDataInput" type="hidden" name="signature" />
  </div>

  <div>
    <button type="submit">Send</button>
  </div>

</form>

<script src="/script.js"></script> 