


<h1>Thank you for signing the petition!</h1>


<!-- <p>your signature: {{ signature }}</p> -->
<img src="{{ signature }}" alt="your Signature">

<a href="/allSigners">See all {{ numbers }} supporters!</a>