



{{#if signature}}
        <h1>thank you for your support</h1>
        <img src="{{ signature }}" alt="your Signature">
        {{else}}
        <h1>no signature here</h1>
        <a href="/yourSign">sign</a>
{{/if}}


<a href="/allSigners">see all {{ numbers }} supporter(s)</a>

<a href="/profile/edit">edit your profile</a>

<form action="/signed" method="POST">
  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submitButton" type="submit">delete your signature</button>
  </div>
</form>


