
<h1 class="petitionHeading">MINIMAL</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>

{{#if error}}
<h2 class="error"> {{ error }} </h2>
{{/if}}

<h1>Sign here to support the cause:</h1>

<form action="/yourSign" method="POST">

  <div>
    <canvas id="canvas" ></canvas>
    <input id="signature" type="hidden" required name="signature" />
  </div>

  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submitButton" type="submit">Send</button>
  </div>

</form>

<script src="/script.js"></script> 