
<h1 class="petitionHeading">MINIMAL</h1>


{{#if error}}
<h2 class="error"> {{ error }} </h2>
{{/if}}

<h1>sign here to support the cause</h1>

<form action="/yourSign" method="POST">

  <div>
    <canvas id="canvas" ></canvas>
    <input id="signature" type="hidden" required name="signature" />
  </div>

  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submitButton" type="submit">Send</button>
  </div>

</form>

<script src="/script.js"></script> 